services:

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: metrics
    ports:
      - "9000:${PORT:-8000}"
    env_file:
      - .env
    networks:
      - backend-network
    restart: unless-stopped





networks:
  backend-network:
    driver: bridge